body, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, p, div, input, textarea, select, form { padding: 0px; margin: 0px; }

ul, li { list-style: none; }

a { text-decoration: none; color: #222; }

img { display: block; border: 0 none; }

input, select, textarea, button { outline: none; }

.clearfix::after { content: ''; height: 0; display: block; overflow: hidden; visibility: hidden; zoom: 1; clear: both; }

.container { width: 1000px; margin: 0 auto; }

body { font-size: 12px; }

em, i { font-style: normal; }

.fl { float: left; }

.fr { float: right; }

.golbal_list { padding-bottom: 30px; }

.golbal_list ul li { height: 460px; float: left; margin-top: 20px; margin-right: 20px; width: 318px; overflow: hidden; border: 1px solid #ddd; }

.golbal_list ul li:hover { border: 1px solid #f70800; }

.golbal_list ul li .goods_box { padding: 10px; background-color: #fff; position: relative; }

.golbal_list ul li .goods_box .goods_img_box { position: relative; width: 298px; height: 298px; overflow: hidden; z-index: 2; }

.golbal_list ul li .goods_box .goods_img_box .lazy-loading { width: 100%; }

.golbal_list ul li .goods_box .goods_box_tit { margin-top: 18px; height: 52px; line-height: 26px; overflow: hidden; padding: 0 10px; }

.golbal_list ul li .goods_box .goods_box_tit a { font-size: 16px; display: block; overflow: hidden; }

.golbal_list ul li .goods_box .goods_box_tit a:hover { text-decoration: underline; }

.golbal_list ul li .goods_box .goods_box_tit .img_tit { font-size: 16px; display: block; overflow: hidden; }

.golbal_list ul li .goods_box .goods_subtit { color: #f70800; margin-top: 5px; overflow: hidden; height: 16px; line-height: 16px; font-size: 12px; padding: 0 10px; }

.golbal_list ul li .goods_box .goods_yen { margin-top: 15px; height: 26px; padding: 0 10px 3px 10px; }

.golbal_list ul li .goods_box .goods_yen .goods_price { font-size: 26px; color: #222; font-family: arial; margin-right: 10px; float: left; }

.golbal_list ul li .goods_box .goods_yen .goods_price i { font-size: 20px; margin-right: 5px; }

.golbal_list ul li .goods_box .goods_yen .sale_price { position: relative; margin-top: 9px; z-index: 1; text-decoration: none; font-size: 12px; float: left; }

.golbal_list ul li .goods_box .goods_yen .sale_price .i_pos_abs { position: absolute; top: -16px; left: 0; width: 205px; z-index: 2; }

.golbal_list ul li .goods_box .goods_yen .sale_price .five_star { font-size: 14px; line-height: 14px; float: left; }

.golbal_list ul li .goods_box .goods_yen .sale_price .mt5 { margin-top: 3px; }

.golbal_list ul li .goods_box .goods_yen .sale_price .five_star { color: #ff504a; }

.golbal_list ul li .goods_box .goods_yen .purchased { color: #666; margin-top: 9px; float: right; }

.golbal_list ul li .goods_box .goods_yen .purchased i { color: #f70800; }

.golbal_list ul li .tax_box_bt { height: 32px; line-height: 32px; background-color: #f8f8f8; color: #666; font-size: 12px; border-top: 1px solid #eee; padding: 0 20px; }

.sidebox { height: 100%; padding-left: 40px; width: 270px; position: fixed; right: -270px; top: 0; z-index: 1111; }

.sidebox .side-content { height: 100%; background: #f2f2f2; width: 270px; float: right; }

.sidebox .side-content .show-cart, .sidebox .side-content .show-care { position: relative; height: 100%; width: 270px; }

.sidebox .side-content .show-cart h3, .sidebox .side-content .show-care h3 { height: 36px; background: #f70800; font-size: 15px; line-height: 36px; text-indent: 1em; color: #fff; margin-top: 5px; position: relative; }

.sidebox .side-content .show-cart h3 i, .sidebox .side-content .show-care h3 i { position: absolute; right: 15px; top: 0; font-size: 26px; cursor: pointer; }

.sidebox .side-content .show-cart h3 i:hover, .sidebox .side-content .show-care h3 i:hover { color: #333; }

.sidebox .side-content .show-cart .empty, .sidebox .side-content .show-care .empty { height: 50px; line-height: 50px; text-align: center; color: #333; position: absolute; top: 50%; transform: translateY(-50%); width: 100%; }

.sidebox .side-content .show-cart .show-goods, .sidebox .side-content .show-care .show-goods { margin: 10px 0; overflow-y: auto; }

.sidebox .side-content .show-cart .show-goods .goods-box, .sidebox .side-content .show-care .show-goods .goods-box { margin-bottom: 5px; border-top: 1px solid #aaa; border-bottom: 1px solid #999; position: relative; }

.sidebox .side-content .show-cart .show-goods .goods-box:hover i, .sidebox .side-content .show-care .show-goods .goods-box:hover i { display: block; }

.sidebox .side-content .show-cart .show-goods .goods-box i, .sidebox .side-content .show-care .show-goods .goods-box i { height: 100%; width: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.1); display: none; }

.sidebox .side-content .show-cart .show-goods .goods-box .delbtn, .sidebox .side-content .show-care .show-goods .goods-box .delbtn { position: absolute; right: 25px; top: 50%; display: block; width: 20px; height: 20px; background-color: #f70800; text-align: center; line-height: 20px; color: #fff; border-radius: 50%; transform: translateY(-50%); font-size: 16px; cursor: pointer; }

.sidebox .side-content .show-cart .show-goods .goods-box .delbtn:hover, .sidebox .side-content .show-care .show-goods .goods-box .delbtn:hover { font-weight: bold; color: #bbb; }

.sidebox .side-content .show-cart .show-goods .goods-box img, .sidebox .side-content .show-care .show-goods .goods-box img { float: left; width: 60px; height: 60px; padding: 5px; }

.sidebox .side-content .show-cart .show-goods .goods-box p, .sidebox .side-content .show-care .show-goods .goods-box p { float: left; width: 183px; height: 30px; line-height: 30px; }

.sidebox .side-content .show-cart .gocart p, .sidebox .side-content .show-care .gocart p { height: 30px; text-align: center; font-size: 12px; font-weight: bold; color: #333; line-height: 30px; }

.sidebox .side-content .show-cart .gocart p span, .sidebox .side-content .show-care .gocart p span { color: #f70800; padding: 0 5px; }

.sidebox .side-content .show-cart .gocart .gobtn, .sidebox .side-content .show-care .gocart .gobtn { height: 30px; text-align: center; font-size: 14px; font-weight: bold; color: #fff; line-height: 30px; border-radius: 5px; width: 130px; margin: 0 auto; background-color: #f70800; display: block; }

.sidebox .side-content .hide { display: none; }

.sidebox .side-content .show { display: block; }

.sidebar-out { height: 100%; border-right: 4px solid #222; position: absolute; left: 36px; top: 0; }

.sidebar { z-index: 999; width: 36px; position: absolute; height: 100%; left: 0; top: 0; }

.sidebar ul { width: 100%; }

.sidebar ul.bar-top { position: absolute; top: 50%; margin-top: -72px; right: 0; width: 36px; height: 144px; }

.sidebar ul.bar-bot { position: absolute; bottom: -1px; right: 0; width: 36px; height: 108px; }

.sidebar ul.bar-top-top { position: absolute; top: 106px; right: 4px; width: 32px; background-color: #222; }

.sidebar ul.bar-top-top li { width: 32px; height: 156px; }

.sidebar li { width: 36px; height: 36px; clear: both; z-index: 2; position: absolute; }

.sidebar li.fly-ad { right: 0; top: 0; }

.sidebar li.fly-user { right: 0; top: 0; }

.sidebar li.fly-cart { right: 0; top: 36px; }

.sidebar li.fly-care { right: 0; top: 72px; }

.sidebar li.fly-ser { right: 0; top: 108px; }

.sidebar li.fly-code { right: 0; top: 0; }

.sidebar li.fly-ask { right: 0; top: 36px; }

.sidebar li.fly-return { right: 0; top: 72px; }

.sidebar li .cart-c { width: 36px; height: 36px; }

.a-sidebar { display: block; width: 36px; height: 36px; cursor: pointer; background: url(img/xfbj.png) no-repeat; z-index: 2; position: relative; }

.a-user-c { background-position: 0 0; }

.a-cart-c { background-position: 0 -46px; }

.a-care-c { background-position: 0 -92px; }

.a-ser-c { background-position: 0 -138px; }

.a-code-c { background-position: 0 -184px; }

.a-ask-c { background-position: 0 -230px; }

.a-return-c { background-position: 0 -276px; }

.hover .a-user-c { background-position: -46px 0; }

.hover .a-cart-c { background-position: -46px -46px; }

.hover .a-care-c { background-position: -46px -93px; }

.hover .a-ser-c { background-position: -46px -138px; }

.hover .a-code-c { background-position: -46px -184px; }

.hover .a-ask-c { background-position: -46px -230px; }

.hover .a-return-c { background-position: -46px -276px; }

.sidebarcom-hover a.closex { display: block; position: absolute; width: 12px; height: 12px; right: 12px; top: 20px; background: url(img/xfbj.png) no-repeat -69px -357px; cursor: pointer; }

.sidebarcom-hover a.closex:hover { background-position: -99px -357px; }

.slide-login { margin-top: 30px; }

.slide-pic { width: 74px; height: 74px; margin: 0 auto; display: block; margin-bottom: 10px; }

.slide-pic img { border: 1px solid #ddd; border-radius: 37px; }

.slide-login-btn { text-align: center; }

.slide-login-btn a { color: #f70800; padding: 6px; }

.slide-login-go { position: absolute; bottom: 2px; left: 2px; width: 207px; background-color: #f8f8f8; padding: 16px 25px; }

.slide-login-go a { display: inline-block; width: 88px; height: 28px; color: #222; text-align: center; line-height: 28px; color: #222; border-radius: 5px; border: 1px solid #ddd; }

.slide-login-go a:hover { border: 1px solid #f70800; color: #f70800; }

.a-mydd { margin-right: 18px; }

.ad-pic { width: 120px; height: 260px; right: -130px; top: -26px; position: absolute; z-index: 1; display: none; }

.hover .ad-pic { transition: all .2s linear 0; right: 31px; cursor: pointer; display: block; z-index: 1; }

.slide-hui { width: 90px; height: 36px; line-height: 36px; background: url(img/xfbj.png) no-repeat 0 -412px; right: -90px; top: 0; text-align: center; position: absolute; z-index: 1; display: none; }

.slide-hui a { color: #fff; }

.hover .slide-hui { transition: all .2s linear 0; right: 36px; cursor: pointer; display: block; z-index: 1; }

.code-pic { position: absolute; right: -135px; top: -73px; width: 132px; height: 182px; z-index: 1; display: none; }

.hover .code-pic { transition: all .1s linear 0; right: 36px; display: block; z-index: 1; }

.sidebarcom-hover { position: absolute; right: -325px; top: 0; background: url(img/centerbj.jpg) no-repeat; width: 257px; height: 228px; padding: 2px; z-index: 1; display: none; }

.hover .sidebarcom-hover { transition: all .2s linear 0; right: 36px; display: block; z-index: 1; }

.cart-num { display: block; z-index: 3; position: absolute; right: 0; top: -2px; width: 24px; height: 14px; line-height: 11px; overflow: hidden; text-align: center; color: #fff; background: url(img/xfbj.png) no-repeat 0 -342px; }

.hover .cart-num { background-position: 0 -374px; color: #f70800; display: block; z-index: 3; }

.a-sidebar2 { width: 32px; height: 168px; z-index: 2; position: relative; }

.slide-userinfo { text-align: center; }

span.right-user-name { display: inline-block; }

span.right-user-name i { color: #f70800; font-size: 14px; line-height: 14px; height: 14px; width: 80px; overflow: hidden; display: inline-block; }

em.right-user-dj { display: none; background: url(img/xfbj.png) no-repeat; width: 16px; height: 13px; }

em.dj-dj0 { background-position: 0 -463px; }

em.dj-dj1 { background-position: 0 -486px; }

em.dj-dj2 { background-position: -20px -486px; }

em.dj-dj3 { background-position: -40px -486px; }

em.dj-dj4 { background-position: -62px -486px; }

em.dj-dj5 { background-position: -87px -487px; }
